.save-button{
    color: rgb(255, 255, 255);
    background-color: #877EED;
    border-radius: 24px;
    padding: 12px 16px;
    border-style: none;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    cursor: pointer;
}

.save-button:hover{
    background-color: #544ACB;
}