.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    gap: 24px;
}

.empty-state p {
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 150%;
}